/node_modules
/public/hot
/public/storage
/public/avatars/*
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/installed
/.vscode
/tmp/*
/vendor
# Update archives built by release/build-update.php
/release/dist
