.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 60px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header p {
    margin-top: 0px;
}
.calendar_day {
    width: 14%;
}
.day_available {
  background-color: #00ff00;
}
.day_available:hover {
    font-weight: bold;
    cursor: pointer;
}
.table-active:hover {
    
}

.grid-striped .row:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
.grid-striped .row:hover {
  background-color: rgba(180, 180, 180, 0.438);
}

.event {
    background-color: cadetblue;
    position: absolute;
    height: 150px;
    width: 100px;
    display: block;
    float:left;
}

.event_1 {
    border-color: #00ff00;
}
.event_2 {
    border-color: #3765ff;
}
.event_3 {
    border-color: #ffff00;
}
.event_4 {
    border-color: #00ffb2;
}
.event_5 {
    border-color: #ff00ff;
}
.event_6 {
    border-color: #ff0000;
}
.event_7 {
    border-color: #ff8000;
}
.event_8 {
    border-color: #ff007f;
}

/*************************
 * GRID SCHEDULE LAYOUT
 *************************/

 .schedule_new {
  display: grid;
  /* grid-template-columns: [times] 4em repeat(4, 1fr); */
  gap: 6px;
  grid-auto-rows: minmax(30px, auto);
}
.time-slot {
  grid-column: times;
  z-index: 1;
}

@media screen and (max-width:700px) {
  .card-columns {
    column-count: 1;
  }
  .eventModal {
    max-width: 660px;
  }
  .events-list {
    overflow-x: scroll;
  }
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

 @media screen and (min-width:700px) {
    .eventModal {
      width: 90%;
      max-width: 1150px;
    }
    .card-columns {
      column-count: 2;
    }
    .login-box, .register-box {
      width: 460px;
    }
    .schedule {
      display: grid;
      grid-gap: 1em;
      grid-template-rows:
        [tracks] auto
        [time-0800] 1fr
        [time-0830] 1fr
        [time-0900] 1fr
        [time-0930] 1fr
        [time-1000] 1fr
        [time-1030] 1fr
        [time-1100] 1fr
        [time-1130] 1fr
        [time-1200] 1fr;
        /* Note 1:
        Use 24hr time for gridline names for simplicity
  
        Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
        Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
        */
      
      grid-template-columns:
        [times] 4em
        [track-1-start] 1fr
        [track-1-end track-2-start] 1fr
        [track-2-end track-3-start] 1fr
        [track-3-end track-4-start] 1fr
        [track-4-end];
    }
  }

    
    .track-slot {
      display: none; /* hidden on small screens and browsers without grid support */
    }
    
  @supports( display:grid ) {
    @media screen and (min-width:700px) {
      .track-slot {
        display: block;
        padding: 10px 5px 5px;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: rgba(255,255,255,.9);
      }
    }
  }
  
  /* Small-screen & fallback styles */
  .session {
    margin-bottom:  1em;
  }
  
  @supports( display:grid ) {
    @media screen and (min-width: 700px) {
      .session {
        margin: 0;
      } 
    }
  }
  
  .session {
    padding: .5em;
    border-radius: 2px;
    font-size: 14px;
    box-shadow:
      rgba(255,255,255,.6) 1px 1px 0,
      rgba(0,0,0,.3) 4px 4px 0;
    z-index: 1;
  }
  
  .session-title,
  .session-time,
  .session-track,
  .session-presenter {
    display: block;
  }
  
  .session-title,
  .time-slot {
    margin: 0;
    font-size: 1.2em;
  }
  
  .session-title a {
    color: #fff;
    text-decoration-style: dotted;
    overflow-wrap: break-word;
    
    &:hover {
      font-style: italic;
    }
    
    &:focus {
      outline: 2px dotted rgba(255,255,255,.8);
    }
  }
  
  .track-slot,
  .time-slot {
    font-weight: bold;
    font-size:.75em;
  }
  
  .track-1 {
    background-color: #1259B2;
    color: #fff;
  }

  .track-1-plan {
    background-image: repeating-linear-gradient(45deg, #1259B2, #1259B2 6px, #154360 6px, #154360 20px);
    color: #fff;
  }
  
  .track-2 {
    background-color: #687f00;
    color: #fff;
  }

  .track-2-plan {
    background-image: repeating-linear-gradient(45deg, #687f00, #687f00 6px, #3c4900 6px, #3c4900 20px);
    color: #fff;
  }
  
  .track-3 {
    background-color: #544D69;
    color: #fff;
  }

  .track-3-plan {
    background-image: repeating-linear-gradient(45deg, #544D69, #544D69 6px, #352f46 6px, #352f46 20px);
    color: #fff;
  }
  
  .track-4 {
    background-color: #c35500;
    color: #fff;
  }

  .track-4-plan {
    background-image: repeating-linear-gradient(45deg, #c35500, #c35500 6px, #632b00 6px, #632b00 20px);
    color: #fff;
  }


  .track-5 {
    background-color: #a500a5;
    color: #fff;
  }
  .track-5-plan {
    background-image: repeating-linear-gradient(45deg, #a500a5, #a500a5 6px, #632b00 6px, #632b00 20px);
    color: #fff;
  }

  .track-6 {
    background-color: #cd2727;
    color: #fff;
  }
  .track-6-plan {
    background-image: repeating-linear-gradient(45deg, #cd2727, #cd2727 6px, #632b00 6px, #632b00 20px);
    color: #fff;
  }
  
  .track-7 {
    background-color: #c7ab00;
    color: #fff;
  }
  .track-7-plan {
    background-image: repeating-linear-gradient(45deg, #ad9d3b, #ad9d3b 6px, #806e00 6px, #806e00 20px);
    color: #fff;
  }
  
  .track-8 {
    background-color: #49a300;
    color: #fff;
  }
  .track-8-plan {
    background-image: repeating-linear-gradient(45deg, #49a300, #49a300 6px, #2d6500 6px, #2d6500 20px);
    color: #fff;
  }
  
  
  .track-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #000;
    box-shadow: none;
  }

  .grid-row {
    z-index: 0;
    border-bottom: 1px solid #b5b5b5;
  }
  .grid-row:hover {
    background-color: #fff7a3;
  }
  .control-sidebar {
    overflow-y:scroll;
  }
  .dayStat {
    background-color: #00ff00;
    width: 100%;
    height: 40px;
  }
  .userEvent {
    border-bottom: 6px solid #ff8000 !important;
  }
  .dayNumber {
    background-color: #fdfbf9;
    border-radius: 4px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 6px;
  }
  .dark-mode .dayNumber {
    background-color: hsl(0, 0%, 35%);
  }
  .dark-mode .grid-row:hover {
    background-color: hsl(55, 21%, 44%);
  }

  .dark-mode .grid-striped .row a {
    color: #97b9ff;
  }
  .dark-mode .grid-striped .row:hover a {
    color: #b5ceff;
  }
  .dark-mode .grid-striped .btn-danger i {
    color: #7b0000;
  }
  .eventsTable tr {
    height: 46px;
  }
  .highlight:hover {
    background-color: #eeeded;
  }
  .bootstrap-switch-normal {
    max-height: 28px;
  }

@media screen and (min-width:700px) and (max-width: 1000px) {
  .reportModal {
    max-width: 90% !important;
  }
}
.brand-link .brand-image {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .la-ball-clip-rotate,
 .la-ball-clip-rotate > div {
     position: relative;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }
 .la-ball-clip-rotate {
     display: block;
     font-size: 0;
     color: #fff;
 }
 .la-ball-clip-rotate.la-dark {
     color: #333;
 }
 .la-ball-clip-rotate > div {
     display: inline-block;
     float: none;
     background-color: currentColor;
     border: 0 solid currentColor;
 }
 .la-ball-clip-rotate {
     width: 32px;
     height: 32px;
 }
 .la-ball-clip-rotate > div {
     width: 32px;
     height: 32px;
     background: transparent;
     border-width: 2px;
     border-bottom-color: transparent;
     border-radius: 100%;
     -webkit-animation: ball-clip-rotate .75s linear infinite;
        -moz-animation: ball-clip-rotate .75s linear infinite;
          -o-animation: ball-clip-rotate .75s linear infinite;
             animation: ball-clip-rotate .75s linear infinite;
 }
 .la-ball-clip-rotate.la-sm {
     width: 16px;
     height: 16px;
 }
 .la-ball-clip-rotate.la-sm > div {
     width: 16px;
     height: 16px;
     border-width: 1px;
 }
 .la-ball-clip-rotate.la-2x {
     width: 64px;
     height: 64px;
 }
 .la-ball-clip-rotate.la-2x > div {
     width: 64px;
     height: 64px;
     border-width: 4px;
 }
 .la-ball-clip-rotate.la-3x {
     width: 96px;
     height: 96px;
 }
 .la-ball-clip-rotate.la-3x > div {
     width: 96px;
     height: 96px;
     border-width: 6px;
 }
 /*
  * Animation
  */
 @-webkit-keyframes ball-clip-rotate {
     0% {
         -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
                 transform: rotate(180deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
 }
 @-moz-keyframes ball-clip-rotate {
     0% {
         -moz-transform: rotate(0deg);
              transform: rotate(0deg);
     }
     50% {
         -moz-transform: rotate(180deg);
              transform: rotate(180deg);
     }
     100% {
         -moz-transform: rotate(360deg);
              transform: rotate(360deg);
     }
 }
 @-o-keyframes ball-clip-rotate {
     0% {
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
     }
     50% {
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
     }
     100% {
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
     }
 }
 @keyframes ball-clip-rotate {
     0% {
         -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
                 transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
                 transform: rotate(180deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
              -o-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
 }

.hidden_child {
  display: none;
}
.crop_child {
  max-height: 26px;
}

.bulk_selected {
  border: 4px solid #00ff00 !important;
}

.direct-chat-messages {
  display: flex;
  flex-direction: column-reverse;
}