.login-box, .register-box {
    width: 460px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 60px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header p {
    margin-top: 0px;
}
.calendar_day {
    width: 14%;
}
.available:hover {
    font-weight: bold;
    cursor: pointer;
}
.table-active:hover {
    
}